/CardManagement.class
/Conditionals.class
/MathOps.class
/McDonaldFood.class
/Temperature.class
/TestCardManagement.class
/TestClassMembers.class
/TestConditionals.class
/TestMathOps.class
/TestMcDonaldFood.class
/TestTemperature.class
/TestUnary.class
/Unary.class
